@model VShop.Web.Models.ClienteViewModel

<h2>Create a new Product</h2>

<form asp-action="CreateCliente">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Desde" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Desde" class="form-control" />
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TituloName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TituloName" class="form-control" />
                <span asp-validation-for="TituloName" class="text-danger"></span>
            </div>
        </div>

        

        <div class="form-group">
            <label asp-for="TituloId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
              <select asp-for="TituloId" class="form-control" asp-items="@ViewBag.TituloId"> </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>