@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Clientes inadimplentes</h3>
    <img src="/images/clientes.jpg" class="img-fluid" asp-append-version="true" />
</div>